img, video{
    max-width: 95vw;
    max-height: 70vh;
}

figure .filedisplay{
    /*width: 80vw;*/
    height: 80vh;
}

figure img.filedisplay,
figure video.filedisplay{
    display: block;
    margin: 1em auto;
    height: 85vh;
    max-width: calc(100vw - var(--preview-info-width));
    border-radius: 1em;
    object-fit: scale-down;
}

figure video.filedisplay{
    background-color: black;
}

#filelist{
    display: block;
    max-width: 50rem;
    margin: auto;
    padding: 0px var(--gap-dashboard);
    padding-bottom: 2rem;
}

.file,
#sortingButtons{
    grid-template-columns: 4em auto 11em 5em;
}

.file{
    display: grid;

    border-radius: 0.75em;
    box-sizing: content-box;
    /*height: calc(2rem + 8px);*/
    height: 2rem;
    width: calc(100% - 2*4px);
    padding: 4px;
}

a.file,
button.file{
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-text) !important;
    background-color: transparent;
    border: none;
}

.file:hover{
    cursor: pointer;
    background-color: var(--color-background-1);
    text-decoration: underline;
}

.file > div{
    text-align: center;
    padding-top: 1em;
}

/*.folder-link{
    position: relative;
    border: none !important;
}

.folder-link img{
    position: absolute;
    top: 0;
    left: 0;
}*/

.file img{
    height: 2rem;
    width: 3rem;
    border-radius: 0.25em;
    object-fit: scale-down;
}

.file > div{
    margin: 0px;
    padding: 0.5rem 0px;

    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}

#sortingButtons{
    display: grid;
}

#sortingButtons a{
    text-decoration: none;
    color: var(--color-text) !important;
}

#sortingButtons a:hover{
    text-decoration: underline;
}

.ascending::after{
    content: "\2B9F";
}

.descending::after{
    content: "\2B9D";
}

.dashboard{
    display: block;
}

.d-phone-only{
    display: none;
}

/*initially hide galery*/
#galery{
    display: none;
}

.polaroids{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 1em;

    height: 66vh;
    overflow: hidden;

    margin-bottom: 1em;
}

.polaroid{
    position: relative;
    display: block;

    background-color: var(--color-background-1);
    border: 2px solid var(--color-main);
    border-radius: 0.5em;
    padding: 4px;
    overflow: hidden;

    background-size: cover;
    background-position: center; 
}

.polaroid .buttons.d-flex{
    flex-direction: row-reverse;
    position: absolute;
    right: 4px;
    top: 4px;
}

.polaroid button,
.polaroid a{
    width: 48px;
    height: 48px;
    padding: 0px;
    margin: 0px;

    background-color: transparent;
    border: none;
}

.polaroid button img,
.polaroid a img{
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    transition: filter 200ms;
}

.polaroid img.icon{
    width: 100%;
    height: calc(100% - 2rem);
    object-fit: scale-down;
}

.polaroid button:hover,
.polaroid a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.polaroid button:hover img,
.polaroid a:hover img{
    filter: brightness(80%);
}

.polaroid .filename{
    position: absolute;
    bottom: 4px;
    left: 10%;

    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    background-color: var(--color-background-2);
    color: var(--color-text);
    box-shadow: 3px 3px 12px var(--color-main);

    padding: 4px;
    margin: 0px;
    border-radius: 4px;
    text-align: center;
    width: 80%;
}

nav form {
    flex-grow: 1;
}

#thumbnail-fallback{
    display: none;
}

@media only screen and (max-width: 1100px){
    .dashboard{
        display: block;
    }
}

@media only screen and (max-width: 700px){
    .btn-group{
        flex-wrap: wrap;
    }
    
    .btn-group .btn:nth-child(2n) {
        flex: 1 0 4%;
    }

    .polaroid{
        background-color: seagreen;
    }

    #galery{
        display: none !important;
    }

    .d-phone-only{
        display: block;
    }
}