img, video{
    max-width: 95vw;
    max-height: 70vh;
}

.preview figure{
    padding: 8px 4px;
}

figure .filedisplay{
    height: 85vh;
}

figure img.filedisplay,
figure video.filedisplay,
figure audio.filedisplay{
    display: block;
    margin: 0px auto;
    max-width: calc(100vw - var(--preview-info-width));
    border-radius: 8px;
    object-fit: scale-down;
}

figure video.filedisplay{
    background-color: black;
}

figure audio.filedisplay{
    height: unset;
}

figure figcaption{
    padding: 4px 0px;
}

#filelist{
    display: block;
    margin: auto;
    padding: 0px var(--gap-dashboard);
    padding-bottom: 2rem;
}

#filelist,
#sortingButtons{
    background-color: rgba(0, 0, 0, 0.7);
}

.file,
#sortingButtons{
    grid-template-columns: 4em auto 11em 3em;
}

#sortingButtons,
.widget{
    max-width: 50rem;
    margin: auto;
}

.file{
    display: grid;

    border-radius: 0.75em;
    box-sizing: content-box;
    /*height: calc(2rem + 8px);*/
    height: 2rem;
    width: calc(100% - 2*4px);
    padding: 4px;
}

a.file,
button.file{
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-text) !important;
    background-color: transparent;
    border: none;
}

.file:hover{
    cursor: pointer;
    background-color: var(--color-background-1);
    text-decoration: underline;
}

.file > div{
    text-align: center;
    padding-top: 1em;
}

/*.folder-link{
    position: relative;
    border: none !important;
}

.folder-link img{
    position: absolute;
    top: 0;
    left: 0;
}*/

.file img{
    height: 2rem;
    width: 3rem;
    border-radius: 0.25em;
    object-fit: scale-down;
}

.file > div{
    margin: 0px;
    padding: 0.5rem 0px;

    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}

#sortingButtons{
    padding-top: 0.5rem;
    /*padding-bottom: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--color-background-2);
    */
    display: grid;

}

#sortingButtons a{
    text-decoration: none;
    color: var(--color-text) !important;
}

#sortingButtons a:hover{
    text-decoration: underline;
}

.ascending::after{
    content: "\2B9F";
}

.descending::after{
    content: "\2B9D";
}

.dashboard{
    display: block;
}

.d-phone-only{
    display: none;
}

#gallery .btn-group{
    gap: 6px;
    justify-content: center;
}

#gallery .btn-group .btn{
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-align: center;

    color: var(--color-text);
    background-color: var(--color-background-1);
}

#gallery .btn-group .btn.active{
    color: var(--color-text-button);
    background-color: var(--color-main);
}

.polaroids{
    display: grid;
    grid-template-columns: repeat(var(--gallery-tiles-x), minmax(0, 1fr));
    grid-template-rows: repeat(var(--gallery-tiles-y), minmax(0, 1fr));
    gap: 1em;

    padding: var(--gap-dashboard) 0px;
    height: calc(100vh - 2*var(--gap-dashboard) - 3rem - 2.4rem - 56px);
    overflow: hidden;

    margin-bottom: 1rem;
}

.polaroid{
    position: relative;
    display: block;

    background-color: var(--color-background-1);
    border: 2px solid var(--color-main);
    border-radius: 0.5em;
    padding: 4px;
    overflow: hidden;

    background-size: cover;
    background-position: center; 
}

.polaroid .buttons.d-flex{
    flex-direction: row-reverse;
    position: absolute;
    right: 4px;
    top: 4px;
}

.polaroid button,
.polaroid a{
    width: 2rem;
    height: 2rem;
    padding: 0px;
    margin: 0px;

    background-color: transparent;
    border: none;
}

.polaroid button img,
.polaroid a img{
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    transition: filter 200ms;
}

.polaroid img.icon{
    width: 100%;
    min-width: 4rem;
    min-height: 4rem;
    height: calc(100% - 2rem);
    object-fit: scale-down;
}

.polaroid button:hover,
.polaroid a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.polaroid button:hover img,
.polaroid a:hover img{
    filter: brightness(80%);
}

.polaroid .filename{
    position: absolute;
    bottom: 4px;
    left: 10%;

    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    background-color: var(--color-background-2);
    color: var(--color-text);
    box-shadow: 3px 3px 12px var(--color-main);

    padding: 4px;
    margin: 0px;
    border-radius: 4px;
    text-align: center;
    width: 80%;
}

.polaroid .folder-icon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    object-fit: scale-down;
    width: calc(100% - 2rem);
    height: calc(100% - 4rem);
    border: none;
}

div.overlay{
    position: relative;
    background-color: var(--color-background-2);
    height: calc(100vh - 56px);
    overflow-y: hidden;
}

div.overlay > .grid{
    display: grid;
    width: 100vw;
    overflow-x: hidden;
    grid-template-columns: auto var(--preview-info-width);
}

div.overlay button.close{
    position:absolute;
    top: 0;
    right: 0;

    background-color: transparent;
    border: 0px solid transparent;
    font-size: 2em;
    color: grey;
    cursor: pointer;
}

div.overlay button.close::after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
}

div.overlay button.close:hover{
    color: var(--color-text);
}

div.overlay .preview{
    position: relative;
    display: block;
    max-width: calc(100vw - var(--preview-info-width));

    height: calc(100vh - 56px);
    overflow-y: auto;
}

div.overlay .preview figure{
    margin: auto;
    display: block;

    flex-grow: 1;
}

div.overlay figure img{
    display: block;
    margin: auto;
    
    max-width: calc(100% - var(--gap-dashboard));
    max-height: calc(100% - var(--gap-dashboard));

    cursor: zoom-in;
}

.unset-max-height{
    max-height: unset !important;
}

div.overlay figure img.unset-max-height{
    height: unset !important;
    cursor: zoom-out;
}

div.overlay figcaption{
    text-align: center;
    margin: auto;
    max-width: 90vw;
    text-wrap: wrap;
    word-wrap: break-word;
}

div.overlay .info{
    display: block;
    background-color: var(--color-background-1);
    height: calc(100vh - 56px);
}

div.overlay .info img.mimeicon{
    display: block;
    height: 6rem;
    margin: auto;
}

div.overlay .actions{
    display: block;
    padding: 12px;
}

div.overlay .actions .action:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

div.overlay .actions .action:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 2px solid var(--color-text);
}

div.overlay .actions .action{
    display: block;
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;

    cursor: pointer;

    color: var(--color-text);
    background-color: var(--color-background-2);
    border: 2px solid var(--color-text);
    border-bottom: none;

    text-decoration: none;
}

div.overlay .actions .action:not([disabled]):hover{
    background-color: var(--color-background-1);
}

div.overlay .actions .action:disabled{
    text-align: left;
    font-weight: bold;
    cursor: unset;
}

div.overlay .actions .action img{
    height: 1rem;
    width: 1rem;
    object-fit: scale-down;
}

div.overlay .preview .prev,
div.overlay .preview .next{
    position: absolute;
    top: 45vh;
    left: 0;

    padding: 4px 6px;
    padding-bottom: 12px;

    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;

    cursor: pointer;
}

div.overlay .preview .next{
    left: unset;
    right: 0;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

div.overlay .preview .prev{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.overlay .preview .prev:hover,
div.overlay .preview .next:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

nav form {
    flex-grow: 1;
}

#thumbnail-fallback{
    display: none;
}

@media only screen and (max-width: 1100px){
    .polaroids{
        grid-template-columns: repeat(var(var(--gallery-tiles-y)), minmax(0, 1fr));
        grid-template-rows: repeat(var(var(--gallery-tiles-x)), minmax(0, 1fr));
    }
}

@media only screen and (max-width: 700px){
    .d-mobile{
        display: block !important;
    }

    ..d-desktop{
        display: none !important;
    }

    .polaroid .buttons{
        display: none !important;
    }

    .file,
    #sortingButtons{
        grid-template-columns: 4em 50vw auto 3em;
    }

    div.overlay > .grid{
        display: block;
    }

    div.overlay .preview{
        max-width: unset;
        height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.overlay .info{
        height: unset !important;
    }

    figure .filedisplay{
        height: unset !important;
        margin-top: 1rem;
    }

    nav input[type="search"]{
        height: 24px;
        width: 5rem;
    }

    nav .btn.big{
        height: 24px;
        width: 24px;
        margin: 10px 0px;
    }

    nav .btn.big img,
    nav .btn.big .masked-icon{
        width: 24px;
        height: 24px;
    }

    .btn-group{
        flex-wrap: wrap;
    }
    
    .btn-group .btn:nth-child(2n) {
        flex: 1 0 4%;
    }

    #galery{
        display: none !important;
    }

    .d-phone-only{
        display: block;
    }
}