img, video{
    max-width: 95vw;
    max-height: 70vh;
}

.preview figure{
    padding: 8px 4px;
}

figure .filedisplay{
    height: 80vh;
}

figure img.filedisplay,
figure video.filedisplay{
    display: block;
    margin: 0px auto;
    max-width: calc(95vw - 8px - var(--preview-info-width));
    border-radius: 8px;
    object-fit: scale-down;
}

figure .pdf.filedisplay{
    width: calc(95vw - 8px - var(--preview-info-width));
}

.preview audio.filedisplay{
    display: block;
    width: 100%;
    border-top: 4px solid var(--color-main);
    border-radius: 0px;
}

figure pre.filedisplay{
    overflow-y: auto;
    font-family: monospace;
}

figure video.filedisplay{
    background-color: black;
}

figure audio.filedisplay{
    height: unset;
}

figure figcaption{
    padding: 4px 0px;
}

#filelist{
    display: block;
    margin: auto;
    padding: 0px var(--gap-dashboard);
    padding-bottom: 1rem;
}

.file,
#sortingButtons{
    grid-template-columns: 4em auto 11em 3em;
}

#sortingButtons,
.widget.widget-filelist{
    display: block;
    width: 98vw;
    max-width: 50rem;
    margin: auto;
    box-sizing: content-box;
    border-radius: 8px;
    color: var(--color-text);
    background-color: var(--color-autoshadow);/*rgba(0, 0, 0, 0.7);*/
    /*max-height: calc(100vh - 56px - 2*var(--gap-dashboard) - 10rem);*/
    /*max-height: (100% - 10rem);*/
}

.file{
    display: grid;

    border-radius: 0.75em;
    box-sizing: content-box;
    /*height: calc(2rem + 8px);*/
    height: 2rem;
    width: calc(100% - 2*4px);
    padding: 4px;
}

#sortingButtons a,
a.file,
button.file{
    text-decoration: none;
    color: var(--color-text);
}

a.file,
button.file{
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.file:hover{
    cursor: pointer;
    color: var(--color-text);
    background-color: var(--color-background-2);
    text-decoration: underline;
}

.file > div{
    text-align: center;
    padding-top: 1em;
}

.file img{
    height: 2rem;
    width: 3rem;
    border-radius: 0.25em;
    object-fit: scale-down;
}

.file > div{
    margin: 0px;
    padding: 0.5rem 0px;

    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}

#sortingButtons{
    padding: 4px;
    margin: auto;
    display: grid;
}

#sortingButtons a:hover{
    text-decoration: underline;
}

.ascending::after{
    content: "\2B9F";
}

.descending::after{
    content: "\2B9D";
}

.dashboard{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;

    min-height: 0; /* Critical for nested flex */
    flex-grow: 1; /* Takes available space */
    overflow: auto; /* Handles overflow */

    gap: var(--gap-dashboard);
}

.d-phone-only{
    display: none;
}

.widget.widget-gallery{
    width: 98vw;
    max-width: 64rem;

    display: block;
    flex-grow: 1;
}

#gallery{
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gallery .btn-group{
    gap: 6px;
    justify-content: center;
}

#gallery .btn-group .btn{
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-align: center;

    color: var(--color-text);
    background-color: var(--color-background-1);
}

#gallery .btn-group .btn.active{
    color: var(--color-text-button);
    background-color: var(--color-main);
}

.polaroids{
    flex-grow: 1;
    /*max-height: calc(100vh - var(--gap-dashboard) - 8.4rem - 56px);*/
    display: grid;
    grid-template-columns: repeat(var(--gallery-tiles-x), minmax(0, 1fr));
    grid-template-rows: repeat(var(--gallery-tiles-y), minmax(0, 1fr));
    gap: 1em;

    padding:0px;
    overflow: hidden;

    margin-bottom: var(--gap-dashboard);
}

.polaroid{
    position: relative;
    display: block;

    background-color: var(--color-background-1);
    border: 2px solid var(--color-main);
    border-radius: 0.5em;
    padding: 4px;
    overflow: hidden;

    background-size: cover;
    background-position: center; 
}

.polaroid .buttons.d-flex{
    flex-direction: row-reverse;
    position: absolute;
    right: 4px;
    top: 4px;
}

.polaroid button,
.polaroid a{
    width: 2rem;
    height: 2rem;
    padding: 0px;
    margin: 0px;

    background-color: transparent;
    border: none;
}

.polaroid button img,
.polaroid a img{
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    transition: filter 200ms;
}

.polaroid img.icon{
    width: 100%;
    min-width: 4rem;
    min-height: 4rem;
    height: calc(100% - 2rem);
    object-fit: scale-down;
}

.polaroid img.videoicon{
    width: 64px;
    height: 64px;
    opacity: 0.5;
    display: block;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.polaroid button:hover,
.polaroid a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.polaroid button:hover img,
.polaroid a:hover img{
    filter: brightness(80%);
}

.polaroid .filename{
    position: absolute;
    bottom: 4px;
    left: 10%;

    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    background-color: var(--color-background-2);
    color: var(--color-text);
    box-shadow: 3px 3px 12px var(--color-main);

    padding: 4px;
    margin: 0px;
    border-radius: 4px;
    text-align: center;
    width: 80%;
}

.polaroid .folder-icon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    object-fit: scale-down;
    width: calc(100% - 2rem);
    height: calc(100% - 4rem);
    border: none;
}

dialog{
    position: relative;
    background-color: var(--color-background-2);
    height: 95vh;
    width: 95vw;
    overflow-y: hidden;
}

dialog .modal-body{
    padding: 0px;
    max-height: unset;
    height: calc(95vh - 4rem);
    display: grid;
    overflow-x: hidden;
    grid-template-columns: auto var(--preview-info-width);
}

dialog .preview{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc(100vw - var(--preview-info-width));

    height: 100%;
    overflow-y: auto;
}

dialog .preview figure{
    margin: auto;
    display: block;

    flex-grow: 1;
}

dialog figure img{
    display: block;
    margin: auto;
    
    max-width: calc(100% - var(--gap-dashboard));
    max-height: calc(100% - var(--gap-dashboard));

    cursor: zoom-in;
}

.unset-max-height{
    max-height: unset !important;
}

dialog figure img.unset-max-height{
    height: unset !important;
    cursor: zoom-out;
}

dialog figcaption{
    text-align: center;
    margin: auto;
    max-width: 90vw;
    text-wrap: wrap;
    word-wrap: break-word;
}

dialog .info{
    display: block;
    border-left: 2px solid var(--color-background-1);
    /*background-color: var(--color-background-1);*/
    /*height: calc(100vh - 56px);*/
}

dialog .info img.mimeicon{
    display: block;
    height: 6rem;
    margin: auto;
}

dialog .actions{
    display: block;
    padding: 12px;
}

dialog .action:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

dialog .action:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 2px solid var(--color-text);
}

dialog .action{
    display: flex;
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;

    cursor: pointer;

    color: var(--color-text);
    background-color: var(--color-background-1);
    border: 2px solid var(--color-text);
    border-bottom: none;

    text-decoration: none;
}

dialog .action:not([disabled]):hover{
    background-color: var(--color-background-2);
}

dialog .action:disabled{
    text-align: left;
    font-weight: bold;
    cursor: unset;
}

dialog .action img{
    height: 1rem;
    width: 1rem;
    object-fit: scale-down;
}

dialog .action .sillouhette-img{
    width: 24px;
    height: 24px;
}

dialog .action .sillouhette-img .masked-icon{
    background-color: var(--color-text);
    width: 24px;
    height: 24px;
    mask-size: 100%, 100%, contain;
    mask-position: center;
    mask-repeat: no-repeat; 
}

dialog .preview .prev,
dialog .preview .next{
    position: absolute;
    top: 45vh;
    left: 0;

    padding: 4px 6px;
    padding-bottom: 12px;

    font-size: 32px;
    /*background-color: rgba(0, 0, 0, 0.3);
    color: white;*/
    /*background-color: rgba(var(--color-background-intense), 0.3);*/
    background-color: var(--color-background-intense);
    color: var(--color-text);
    border: none;
    cursor: pointer;
    opacity: 0.3;
}

dialog .preview .next{
    left: unset;
    right: 0;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

dialog .preview .prev{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

dialog .preview .prev:hover,
dialog .preview .next:hover{
    /*background-color: rgba(var(--color-background-intense), 0.6);*/
    opacity: 0.7;
}

nav form {
    flex-grow: 1;
}

#thumbnail-fallback{
    display: none;
}

.mobile-spacer{
    height: 8rem;
    color: transparent;
    background-color: var(--color-background-2);
}

.music-player.d-none + .mobile-spacer{
    background-color: transparent
}

@media only screen and (max-width: 1100px){
    .polaroids{
        grid-template-columns: repeat(var(--gallery-tiles-y), minmax(0, 1fr));
        grid-template-rows: repeat(var(--gallery-tiles-x), minmax(0, 1fr));
    }
}

@media only screen and (max-width: 700px){
    body{
        height: 100dvh;
    }

    .d-mobile{
        display: block !important;
    }

    .d-desktop{
        display: none !important;
    }

    .polaroid .buttons{
        display: none !important;
    }

    .file,
    #sortingButtons{
        grid-template-columns: 4em 50vw auto 3em;
    }

    dialog .modal-body{
        display: block;
        overflow-y: auto;
    }

    dialog .preview{
        max-width: unset;
        height: unset;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    dialog .info{
        height: unset !important;
    }

    figure .filedisplay{
        height: unset !important;
        margin-top: 1rem;
    }

    video.filedisplay{
        max-width: unset !important;
        width: 100%;
    }

    nav input[type="search"]{
        height: 24px;
        width: 5rem;
    }

    nav .btn.big{
        height: 24px;
        width: 24px;
        margin: 10px 0px;
    }

    nav .btn.big img,
    nav .btn.big .masked-icon{
        width: 24px;
        height: 24px;
    }

    .btn-group{
        flex-wrap: wrap;
    }
    
    .btn-group .btn:nth-child(2n) {
        flex: 1 0 4%;
    }

    /*#galery{
        display: none !important;
    }*/

    .d-phone-only{
        display: block;
    }
}