:root {
    --input-padding-x: 0.7rem;
    --input-padding-y: 0.4rem;
    --input-border-radius: 0.4rem;

    --input-switch-size: 1.5rem;
    --input-switch-padding: 4px;
}

.btn-group,
.input-group {
    display: flex;
    /*height: 2.4rem;*/
}

/*
    Buttons
*/
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    background-color: var(--color-main);
    color: var(--color-text-button);
    border: none;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    transition: 200ms ease;

    font-size: 12pt;
}

a.btn:hover{
    text-decoration: underline;
}

.btn:hover{
    filter: brightness(0.9);
}
.btn>img {
    max-height: 1em;
}

.btn-outline {
    color: var(--color-text-button);
    background-color: transparent;
    border: 1px solid var(--color-text-button);
}

.btn-dull {
    background-color: var(--color-background-1) !important;
}

.btn-success {
    background-color: green !important;
}

.btn-warning {
    background-color: orange !important;
}

.btn-danger {
    background-color: crimson !important;
}

.btn.append,
.btn.center {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

.btn.prepend,
.btn.center {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

.btn-outline:hover,
input:checked+.btn-outline {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Hide Number input arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Number input arrows */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=text],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
input[type=week],
input[type=password],
input[type=month],
input[type=email],
input[type=date],
input[type=datetime-local],
input[type=time],
textarea,
select,
.input-group .sidecar{
    color: var(--color-text);
    transition: 200ms ease;

    padding: var(--input-padding-y) var(--input-padding-x);

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, .25) 0,
            rgba(117, 117, 117, .2) 20%,
            rgba(92, 92, 92, .2) 50%, 
            rgba(43, 43, 43, .3) 50%,
            rgba(161, 161, 161, .3) 100%);
    background-color: var(--color-background-2);

    border: 2px solid var(--color-border);
    border-left: 2px solid var(--color-border-petite);
    border-top: 2px solid var(--color-border-petite);

    border-radius: 8px;
}

.input-group input{
    margin: 0px;
}

.input-group{
    display: flex;
    justify-content: left;
}

input:focus{
    outline: none;
    border: 2px solid hsl(var(--color-main-hue), var(--color-main-sat), 45%);
    border-left: 2px solid hsl(var(--color-main-hue), var(--color-main-sat), 75%);
    border-top: 2px solid hsl(var(--color-main-hue), var(--color-main-sat), 75%);
}

/*------------------------------------------
                Switch
------------------------------------------*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: calc(2*var(--input-switch-size) - var(--input-switch-padding));
    height: var(--input-switch-size);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: var(--input-switch-size);
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: calc(var(--input-switch-size) - 2*var(--input-switch-padding));
    width: calc(var(--input-switch-size) - 2*var(--input-switch-padding));
    left: var(--input-switch-padding);
    bottom: var(--input-switch-padding);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: var(--color-main);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px var(--color-main);
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(calc(var(--input-switch-size) - var(--input-switch-padding)));
    -ms-transform: translateX(calc(var(--input-switch-size) - var(--input-switch-padding)));
    transform: translateX(calc(var(--input-switch-size) - var(--input-switch-padding)));
}


/*
    Range Sliders
*/
input[type="range"]{
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  background:linear-gradient(to bottom,#3b3b3b 10%,#242424 100%);
  border:1px solid #000;
  position:relative;
  overflow:hidden;

  height: 10px;
  box-sizing: border-box;
  /*width:200px;*/
  border-radius:0
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  background:linear-gradient(
    to left,
    hsl(var(--color-main-hue), var(--color-main-sat), 90%) 20%,
    var(--color-main) 100%
    );
  border:none;
  border-right:1px solid #000;
  height:8px;
  width:15px;
  border-radius:0!important;
  box-shadow:-350px 0 0 350px var(--color-main);
  box-sizing:border-box
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb{
  background:linear-gradient(
    to left,
    hsl(var(--color-main-hue), var(--color-main-sat), 90%) 20%,
    var(--color-main) 100%
    );
  border:none;
  border-right:1px solid #000;
  height:8px;
  width:15px;
  border-radius:0!important;
  box-shadow:-350px 0 0 350px var(--color-main);
  box-sizing:border-box
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]:active::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb:hover,
input[type="range"]:active::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
   border: 2px solid var(--color-main);
}

/*=============
Aesthetics 
=========================*/

progress[value] {
  width: 100%;
}