:root {
    --color-main: teal;
    --color-background-1: #323232;
    --color-background-2: #222222;
    --color-background-3: #424242;
    --color-background-translucent: rgba(34, 34, 34, .7);
    --color-text: white;
    --color-text-button: var(--color-text);
    --color-text-code: hotpink;
    --color-text-petite: lightgrey;
    --color-autoshadow: transparent;
    --color-autoshadow-text: inherit;
    --color-border: #4b4b4b;
    --color-border-petite: #0f0f0f;

    --hue-rotate-directory: 160deg;

    --background-image: none;
    
    --color-ok: #27ae60;
    --color-warning: orange;
    --color-critical: #da4453;

    --gap-dashboard: 8px;
    --corner-radius-dashboard: 1rem;

    --preview-info-width: 20rem;
    --gallery-tiles-x: 5;
    --gallery-tiles-y: 4;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-background-1: #cfcfcf;
        --color-background-2: #dfdfdf;
        --color-background-3: #afafaf;
        --color-background-intense: white;
        --color-background-translucent: rgba(223,223,223,.7);
        --color-text-button: white;
        --color-text: black;
        --color-text-petite: rgb(53, 53, 53);
        --color-text-code: purple;
        --color-autoshadow-themed: rgba(255,255,255, 0.7);

        --color-border: #4b4b4b;
        --color-border-petite: #bbb;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background-1: #323232;
        --color-background-2: #222222;
        --color-background-intense: black;
        --color-background-translucent: rgba(34, 34, 34, .7);
        --color-text: white;
        --color-text-code: hotpink;

        --color-autoshadow-themed: rgba(0, 0, 0, 0.7);
    }
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: var(--gap-dashboard);

    color: var(--color-text);
    background-color: var(--color-main);

    margin: 0;
    padding: var(--gap-dashboard);
    padding-top: 0px;
    height: 100vh;
    box-sizing: border-box;

    font-family:Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

.dashboard{
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-attachment: fixed;
    background-size: cover;

    background-color: var(--color-background-2);
    border-radius: var(--corner-radius-dashboard);
    padding: 8px 0px;

}

.widget{
    display: block;
    margin: auto;
    max-height: calc(100vh - 56px - (3rem));
    overflow-y: auto;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: var(--color-text-button);
}

nav {
    height: 56px;
    padding: 0px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    position: relative;
}

nav div.navbar-collapse{
    min-width: 60%;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 3;
    justify-content: flex-end;
    gap: 1rem;
}

nav ~ button {
    display: none;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    padding: 0.25rem 0.5rem;
}

nav a{
    color: var(--color-text-button);
    background-color: transparent;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

nav a img{
    height: 1rem;
    width: 1rem;
    object-fit: scale-down;
}

nav form{
    flex-wrap: nowrap;
}

nav form input,
nav form button,
nav form .btn{
    margin: 0.5rem 0.2rem;
}

nav img.favicon{
    height: 32px;
    max-width: 12em;
}

.flex-vertical-center,
.nav-flex-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.nav-flex-column{
    height: 56px;
}

nav .btn.big{
    height: 32px;
    width: 32px;
    padding: 4px;
    box-sizing: content-box;
}

nav .btn.big img,
nav .btn.big .masked-icon{
    width: 32px;
    height: 32px;
}

code{
    color: var(--color-text-code);
}

img.UNKNOWN{
    filter: grayscale(1);
}

.dirpath{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    /*margin: calc((56px - 1rem)/2) 0px;*/
}

.dirpath a{
    display: flex;
    padding: 0px;
    height: 1rem;
}

.dirpath .slash{
    color: grey;
}

nav .masked-icon{
    background-color: var(--color-text-button);
}

#masked-icon-details{
    mask-image: url("/fancy-directory-index/assets/view-list-details.svg");
}

#masked-icon-gallery{
    mask-image: url("/fancy-directory-index/assets/view-list-icons.svg");
}

.icon-frame {
    display: block;
    width: 128px;
    height: 128px;
    padding: 8px;
    border: 1px solid var(--color-border-petite);
    border-radius: 10px;
    /* Outer shadow */
    box-shadow:
        0 3px 8px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.9);
}

.icon-frame img {
    object-fit: cover;
    border: 1px solid var(--color-border);
}

.actions{
    display: block;
    padding: 12px;
}

.action:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.action:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 2px solid var(--color-text);
}

.action{
    display: flex;
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;

    cursor: pointer;

    color: var(--color-text);
    background-color: var(--color-background-2);
    border: 2px solid var(--color-text);
    border-bottom: none;

    text-decoration: none;
}

.action:not([disabled]):hover{
    background-color: var(--color-background-1);
}

.action:disabled{
    text-align: left;
    font-weight: bold;
    cursor: unset;
}

.action img{
    height: 1rem;
    width: 1rem;
    object-fit: scale-down;
}

.action .sillouhette-img{
    width: 24px;
    height: 24px;
}

.action .sillouhette-img .masked-icon{
    background-color: var(--color-text);
    width: 24px;
    height: 24px;
    mask-size: 100%, 100%, contain;
    mask-position: center;
    mask-repeat: no-repeat; 
}

.gap{
    gap: var(--gap-dashboard)
}

.d-block{
    display: block !important;
}

.d-none,
.d-mobile{
    display: none !important;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.text-small{
    font-size: small;
}

.text-petite{
    color: var(--color-text-petite);
}

.text-bold{
    font-weight: bold;
}

.text-critical{
    color: var(--color-critical);
}

.text-nowrap{
    text-wrap: nowrap;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.flex-column{
    flex-direction: column;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.flex-grow-1{
    flex-grow: 1;
}

.cursor-pointer{
    cursor: pointer;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-y-auto{
    overflow-y: auto;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.w-unset{
    width: unset !important;
}

@media only screen and (max-width: 700px){
    :root{
        --gap-dashboard: 4px;
    }

    body{
        height: 100dvh;
        padding: 4px;
    }
}