:root {
    --color-main: rgb(104, 20, 104);
    --color-background-1: #323232;
    --color-background-2: #222222;
    --color-background-translucent: rgba(34, 34, 34, .7);
    --color-text: white;
    --color-text-button: var(--color-text);
    --color-text-code: hotpink;
    
    --color-ok: #27ae60;
    --color-warning: orange;
    --color-critical: #da4453;

    --gap-dashboard: 12px;

    --preview-info-width: 20rem;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-background-2: #dfdfdf;
        --color-background-1: #cfcfcf;
        --color-background-translucent: rgba(223,223,223,.7);
        --color-text-button: white;
        --color-text: black;
        --color-text-code: purple;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background-1: #323232;
        --color-background-2: #222222;
        --color-background-translucent: rgba(34, 34, 34, .7);
        --color-text: white;
        --color-text-code: hotpink;
    }
}

body{
    color: var(--color-text);
    background-color: var(--color-background-2);

    margin: 0;
    padding: 0;

    font-family:Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

.widget{
    display: block;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#widget-gallery{
    max-width: 64rem;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: var(--color-text-button);
}

nav {
    height: 56px;
    padding: 0px 4px;
    background-color: var(--color-main);
    box-shadow: 2px 2px 8px black;
    
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    position: relative;
}

/*nav h1{
    text-align: center;
    margin: 0;
    color: var(--color-text-button);

    padding: 0px 0.4rem;
    margin-top: 0.8rem;
}*/

nav div.navbar-collapse{
    min-width: 60%;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 3;
    justify-content: flex-end;
    gap: 1rem;
}

nav ~ button {
    display: none;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    padding: 0.25rem 0.5rem;
}

nav a{
    color: var(--color-text-button);
    background-color: transparent;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

nav a img{
    height: 1rem;
    width: 1rem;
    object-fit: scale-down;
}

nav form{
    flex-wrap: nowrap;
}

nav form input,
nav form button,
nav form .btn{
    margin: 0.5rem 0.2rem;
}

nav img.favicon{
    height: 32px;
    max-width: 12em;
}

.nav-flex-column{
    height: 56px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

nav .btn.big{
    height: 32px;
    width: 32px;
    padding: 4px;
    box-sizing: content-box;
}

nav .btn.big img,
nav .btn.big .masked-icon{
    width: 32px;
    height: 32px;
}

.dirpath{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    /*margin: calc((56px - 1rem)/2) 0px;*/
}

.dirpath a{
    display: flex;
    padding: 0px;
    height: 1rem;
}

.dirpath .slash{
    color: grey;
}

.masked-icon{
    background-color: var(--color-text-button);
}

#masked-icon-details{
    mask-image: url("/fancy-directory-index/assets/view-list-details.svg");
}

#masked-icon-gallery{
    mask-image: url("/fancy-directory-index/assets/view-list-icons.svg");
}

.gap{
    gap: var(--gap-dashboard)
}

.d-none,
.d-mobile{
    display: none !important;
}

.d-flex{
    display: flex !important;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.flex-column{
    flex-direction: column;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}