nav .grid{
    display: grid;
    grid-template-columns: 6rem auto 6rem;
    height: 100%;
}

article.dashboard{
    flex-grow: 10;
    min-height: 0;
    overflow-y: auto;

    height: 100%;
}

.playlist-player > article > .aero-glass{
    height: 100%;
}


#playlist-player-content,
#next-up-space {
    padding: 4px;
}

.playlist-player>footer {
    height: 2rem;
    background-color: var(--color-background-2) !important;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#mainicon {
    height: 3rem;
    padding: 0.5rem;
    object-fit: scale-down;
}

#main-title{
    text-align: center;
    display: block;
}

.playlist-player h3 {
    margin: 0px;
}

.playlist-selection {
    padding: 8px;
}

.playlist-icon-actions{
    display: flex;
    justify-content: space-around;
}

#playlist-library-cardspace {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#playlist-meta-image{
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    display: block;
    border-radius: var(--gap-dashboard);
    box-shadow: 0px 0px 6px 6px var(--color-main);
}

.playlist-card {
    background-color: var(--color-background-2);
    padding: 4px;
    margin: 4px 0px;
    width: 12rem;

    border-radius: 12px;
}

.wallpaper .playlist-card{
    background-color: var(--color-background-translucent);
}

.playlist-card:hover {
    cursor: pointer;
    background-color: var(--color-background-1);
}

.playlist-selection img.icon {
    height: 12rem;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 8px;
}

#playlist-song-selection {
    display: block;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

.playlist-song-item {
    display: grid;
    grid-template-columns: 3rem 3rem auto 10rem 2rem;

    gap: 8px;
    height: 3rem;
    
    padding: 0px 4px;
    margin: 4px;
}

.wallpaper .playlist-song-item{
    background-color: var(--color-background-translucent);
    border-radius: var(--gap-dashboard);
}

/*.playlist-song-padding,
.playlist-song-item {
    padding: 4px;
}*/

.playlist-song-options {
    color: var(--color-text);
    background-color: var(--color-background-2) !important;
    font-weight: bold;
    padding: 8px;
    padding-top: 0px;

    border: 1px solid var(--color-background-1);
    border-radius: calc((1em + 8px) / 2);
}

.playlist-song-options:hover {
    cursor: pointer;
    background-color: var(--color-background-1) !important;
}

.playlist-song-item .option-container {
    display: none;
    position: absolute;
    top: calc(1em + 10px);
    right: 0;

    background-color: var(--color-background-2) !important;
    border: 1px solid var(--color-background-1);
    border-radius: 4px;
    /*padding: 4px;*/
}

.playlist-song-item .option-container-enabler:checked+.option-container {
    display: block;
}

.playlist-song-item .option-container-enabler {
    display: none;
}

.playlist-song-item .option {
    text-wrap: nowrap;

    border-radius: 4px;
    padding: 4px;
}

.playlist-song-item .option:hover {
    cursor: pointer;
    background-color: var(--color-main) !important;
}

.playbutton-container {
    cursor: pointer;
    background-color: var(--color-text);
    display: block;
    margin: auto;
    width: 100%;
    height: 3rem;
    object-fit: scale-down;
    mask-size: 1.5rem, 1.5rem, contain;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url("/fdi-icon-theme/actions/22/media-playback-start.svg");
}

.playbutton-container:hover{
    background-color: var(--color-main);
}

.playlist-song-item img.playbutton {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}

#next-up-space-show:checked+* #next-up-space {
    display: none;
}

.playlist-song-item img.thumbnail,
#next-up-space img.thumbnail {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}

@media only screen and (max-width: 700px) {
    :root{
        --padding-body: 4px;
    }

    .playlist-song-item {
        grid-template-columns: 3rem 3rem auto 2rem;
    }

    #playlist-player-content{
        display: none;
    }

    #next-up-space-show:checked+* #playlist-player-content{
        display: flex;
    }

    #next-up-space{
        width: unset;
        min-width: 85vw;
    }

    #playlist-library-cardspace {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .playlist-card {
        width: unset;
        overflow-x: hidden;
    }

    .playlist-selection img.icon {
        height: calc(30vw - 1rem);
        width: 100%;
    }

    .playlist-icon-actions{
        display: block;
    }

    .d-mobile-none {
        display: none;
    }

    #playlist-player-content,
    #next-up-space {
        height: calc(100vh - 26rem);
    }

    #main-title{
        font-size: 1rem;
    }
}